.control-panel-container{
  display: flex;
  flex-shrink: 0;
  background-color: blueviolet;
  width: 350px;
  border-right: 1px solid rgb(80, 80, 80);
  background-color: rgb(50, 50, 50);
}

.title{
  text-align: center;
  color: white;
  font-size: 20pt;
  height: 80px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.tutorial {
  font-size: 11pt;
  color: gold;
  padding-left: 10px;
}