.option {
  color: white;
  font-size: 11pt;
  text-align: center;
}

.option button {
  min-width: 206px;
}

.option-title {
  padding-top: 2px;
}

.tutorial .tooltip-inner {
  max-width: 250px !important;
  text-align: left !important;
  text-wrap: wrap !important;
}

.success .tooltip-inner {
  color: rgb(15, 231, 15);
}