.particle-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.particle {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  background-color: blueviolet;
  display: flex;
}

.particle img {
  position: relative;
  height: 10px;
  width: 10px;
  color: rgb(22, 22, 22)
}