.particle-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.particle {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  background-color: blueviolet;
}

.test {
  max-width: 200px;
}

.test :hover{
  cursor: pointer !important;
  /* z-index: 50000 !important; */
}