.particle-grid {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  position: relative;
}

.particle-grid-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  flex-grow: 1;
  clip-path: inset( -100vw -100vw -100vw 0 );
}

.checkbox {
  max-width: 200px;
}

.checkbox :hover{
  cursor: pointer !important;
  /* z-index: 50000 !important; */
}